/* CSS file */

Application {
/*	background-gradient-colors: #ffffff, #e2ebf0;
	background-gradient-alphas: 1, 0.5; */
	background-gradient-colors: #ffffff, #ffffff;
	background-gradient-alphas: 1, 0.5;
	background-color: #ffffff;
	background-alpha: 1;	
	color: #234979;
}

Form {
	color: #234979;
 	indicator-gap: 5;
	vertical-gap: 4;
	padding-top: 6;
	padding-right: 4;
	padding-left: 4;
	padding-bottom: 4;
}

VBox {
	vertical-gap: 2;
}

HBox {
	horizontal-gap: 2;	
}

HelpText {
	vertical-align: top;	
}

Panel {
	/* old:
	border-color: #234979;
	border-alpha: 0.4;
	highlight-alphas: 0.3, 0;
	header-colors: #3f78b8, #234979;
	color: #234979;
	font-size: 10;
	*/
	border-color: #8aa5b8;
	border-alpha: 0.8;
	highlight-alphas: 0.2, 0.2;
	header-colors: #e5e5e5, #8aa5b8;
	color: #000000;
	font-size: 11;
	border-thickness-left: 5;
	border-thickness-top: 0;
	border-thickness-right: 5;
	border-thickness-bottom: 5;
	header-height: 24;
	title-style-name: "panelTitle";
	status-style-name: "panelStatus";
}

.panelTitle {
	color: #000000;
	font-size: 12;
	font-weight: bold;		
}

.panelStatus {
	color: #555555;	
}

/* , ResizableTitledBorderWindow */
TitledBorderWindow {
	border-color: #868687;
	border-alpha: 1;
	border-thickness: 1;
	color: #000000;	
	padding-top: 0;
}

.titledBorderBox {
	title-style-name: "titleBorderTitle";
	border-color: #868687;
	color: #000000;	
}

.titleBorderTitle {
	color: #000000;
}

ButtonBox {
	alternating-item-colors: #ffffff,#f5fafa;
	background-disabled-color: #f3f3f3;
	color: #000000;
	border-style: solid;
	border-thickness: 1;
}

DataGrid {
	alternating-item-colors: #ffffff,#f5fafa;
	background-disabled-color: #f3f3f3;
}

List {
	alternating-item-colors: #ffffff,#f5fafa;
	background-disabled-color: #f3f3f3;
}

EscapeWindow {
	resize-handle-color: #ffffff;
	move-handle-color: #ffffff;	
}

LinkButton {
	color: #234979;	
	text-decoration: underline;
}

.link {
	padding-right:	1px;
	padding-left:	1px;
	padding-top:	1px;
	padding-bottom:	1px;
	indicator-gap:	0px;
	horizontal-gap:	0px;
	height: 16px;
	font-size: 10;
}

URLLinkButton {
	color: #234979;
	text-roll-over-color: #234979;
	font-weight: normal;
}

Spinner {
	spinner-type: gradientlines;
	spinner-color: #ffffff;
	spinner-highlight-color: #000000;
}

.uninteresting {
	color: #999999;
	text-roll-over-color: #999999;
	font-weight: normal;	
	font-size: 11;
}
.interesting {
	color: #234979;
	text-roll-over-color: #234979;
	font-weight: normal;
	font-size: 12;
}
.landmark {
	color: #234979;
	text-roll-over-color: #234979;
	font-weight: bold;
	font-size: 13;
}

.borderBoxTitle {
	color: #333333;	
}

.allOntologies {
	padding-left: 4px;
	padding-right: 2px;
	color: #666666;
	font-weight: normal;	
}

.ontologiesLinkButton {
	text-decoration: none;
	corner-radius: 	4;
	padding-right:	1;
	padding-left:	2;
	padding-top:	1;
	padding-bottom:	1;
	horizontal-gap:	0;
	font-weight: bold;
	icon: 		Embed("x_gray.png");
	up-icon: 	Embed("x_gray.png");
	over-icon: 	Embed("x_red.png");
	down-icon: 	Embed("x_red.png");
}

.recentSearchLinkButton {
	text-decoration: none;
	corner-radius: 4;
	padding-right: 2;
	padding-left: 2;
	padding-top: 1;
	padding-bottom:	1;
	font-weight: bold;
}

.highlightScrollTrack {
	track-skin: ClassReference("flex.utils.ui.skins.HighlightListScrollTrackSkin");
	highlightMinHeight: 2;
	highlightColor: #E5C000;
}

.helpButton {
	icon: Embed("help.png");
	font-weight: normal;
	text-decoration: none;	
}

.clearButton {
	icon: 		Embed("x_gray.png");
	up-icon: 	Embed("x_gray.png");
	over-icon: 	Embed("x_red.png");
	down-icon: 	Embed("x_red.png");
	font-weight: normal;
	text-decoration: none;
	color: #666666; 
	fontSize: 12;
}

.lastSearch {
	color: #999999;
	font-size: 9;
	font-weight: normal;	
}

.error {
	color: #cc0000;
	font-weight: bold;	
}

.topDivider {
	background-color: #f3f3f3;
	horizontal-gap: 8;
	divider-affordance: 8;
	divider-thickness: 8;
	divider-color: #234979;
}

.box {
	border-color: #dddddd;
	border-thickness: 1;
	border-style: solid;	
}

.bar {
	background-color: #e2ebf0;
	vertical-align: middle;	
	padding-left: 5;
	padding-right: 5;
}

.barBox {
	background-color: #e2ebf0;
	vertical-align: middle;	
	padding-top: 1;
	padding-bottom: 1;
	padding-left: 5;
	padding-right: 5;
	color: #234979;
	border-color: #dddddd;
	border-thickness: 1;
	border-style: solid;	
}

.whitebg {
	background-color: #ffffff;
}

.alt {
	background-color: #f5fafa;	
}

.searchBox {
	horizontal-gap: 0;
	vertical-align: middle;
}

Chooser {
	padding-left: 4;
	padding-top: 4;
	font-size: 12;
	border-color: #0b4f7a;
	border-style: inset;	
	border-thickness: 1;
}

.searchButton {
	fill-alphas: 0.8, 0.8, 0.75, 0.65;
   	fill-colors: #4f83cd, #0356b4, #ffffff, #d8f0ff;
   	border-color: #0076c1;
   	color: #ffffff;
   	font-size: 12;
   	font-weight: bold;	
   	icon: Embed(source="search.gif");
   	disabled-icon: Embed(source="search_disabled.gif");
}

.progress {
	track-height: 18;
	color: #ffffff;
	indeterminate-move-interval: 30;
	theme-color: #336699;
}

.previousSearchesBox {
	verticalGap: 0;
	backgroundAlpha: 1;
	backgroundColor: #ffffff;
	borderColor: #999999;
	borderThickness: 1;
	borderStyle: solid;
}

OntologyResultsFilterPopUpBox {
	verticalGap: 0;
	backgroundAlpha: 1;
	backgroundColor: #ffffff;
	borderColor: #999999;
	borderThickness: 1;
	borderStyle: outset;
}

.ontologyResultCheckBox {
	font-size: 12;
	font-weight: normal;
	color: #234979;
/*	color: #336699;*/
	padding-left: 4;
}

ColumnsPopUp {
	verticalGap: 0;
	backgroundColor: #ffffff;
	borderStyle: outset; 
}

.conceptResultLinkButton {
	padding-left: 4;
	padding-right: 4;
	text-decoration: none;	
	font-weight: normal;
}

DOIPopUp {
	verticalGap: 0;
	backgroundAlpha: 1;
	backgroundColor: #ffffff;
	borderColor: #999999;
	borderThickness: 1;
	borderStyle: outset;
}

.helpHighlightWindow {
	vertical-gap: 5;
	padding-left: 5;
	padding-top: 5;
	padding-right: 5;
	padding-bottom:5;
	background-color: #ffffff;
}

.helpHighlightBox {
	border-color: #00dd00;
	border-thickness: 2;
	border-style: solid;
}


