/* CSS file for OntologyTree */

.topBar {
	drop-shadow-enabled: false;
	corner-radius: 4;
	background-color: #E9F1FC;
	border-style: solid;
	border-color: #C9CBCC;	
	horizontal-gap: 1;
	padding-left: 4;
	padding-top: 4;
	padding-right: 4;
	padding-bottom: 4;
	vertical-align: middle;
}

.ontologyLink {
	/*rollOverColor: #EEFEE6;
    selectionColor: #B7F39B;
    textRollOverColor: #2B333C;
    textSelectedColor: #2B333C;*/	
}

.searchBar {
	drop-shadow-enabled: false;
	corner-radius: 4;
	background-color: #E1E6EA; 
	border-style: solid;
	border-color: #C9CBCC;	
	horizontal-gap: 1;
	padding-left: 4;
	padding-top: 4;
	padding-right: 4;
	padding-bottom: 4;
	vertical-align: middle;
}

.openButton {
	arrow-button-width: 20;	
}

.jumpToButton {
	padding-left: 0;
	padding-right: 0;	
}

.tree {
	padding-top: 4;
	background-color: #f6f6f6;
	disclosure-closed-icon: Embed(source='assets/plus.gif');	
	disclosure-open-icon: Embed(source='assets/minus.gif');	
}

.busySpinner {
	spinner-type: gradientlines;
	spinner-color: #ffffff;
	spinner-highlight-color: #000000;
}

.busyComponent {
	borderColor: #000000;
	borderStyle: solid;
	borderThickness: 1;
	backgroundColor: #ffffff; 
	paddingLeft: 3;
	paddingTop: 2;
	paddingRight: 3;
	paddingBottom: 2; 
	horizontalGap: 2;	
}
