
Spinner {
	spinner-type: gradientlines;
	spinner-color: #ffffff;
	spinner-highlight-color: #000000;
}

.ontologyTree {
	disclosure-closed-icon: Embed(source='/assets/plus.gif');	
	disclosure-open-icon: Embed(source='/assets/minus.gif');
}

.ontologyTreeBusy {
	borderColor: #000000;
	borderStyle: solid;
	borderThickness: 1;
	backgroundColor: #ffffff; 
	paddingLeft: 3;
	paddingTop: 2;
	paddingRight: 3;
	paddingBottom: 2; 
	horizontalGap: 2;
	vertical-align: middle;		
}

.ontologyTreeTopBar {
	corner-radius: 0;
	drop-shadow-enabled: false;
	horizontal-gap: 2;
	vertical-align: middle;
	padding-left: 2;
	padding-top: 0;
	padding-right: 2;
	padding-bottom: 0;
	fill-alphas: 0.6,0.4;
	fill-colors: #ffffff,#cccccc;
	border-color: #AAB3B3;
	border-thickness: 1;
	border-style: solid;
    color: #0B333C;
    highlight-alphas:0.3,0.0;	
}

.ontologyLabel {
	font-weight: bold;
	font-size: 9;
	color: #2B333C;
	text-decoration: underline;
	horizontal-align: left;
	text-align: left;
}

.propertiesForm {
	indicator-gap: 2;
	color: #2B333C;
	font-weight: bold;
	padding-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	vertical-gap: 0;
	horizontal-gap: 0;
}

.propertiesLabel {
	font-weight: bold;
	font-size: 9;	
}

.propertiesValue {
	font-weight: normal;
	font-size: 10;
	color: #000000;	
}

.propertiesRow {
	padding-left: 2;
	padding-top: 2;
	padding-bottom: 2;
	padding-right: 2;
	background-color: #ffffff;
}

.propertiesRowAlt {
	padding-left: 1;
	padding-top: 2;
	padding-bottom: 2;
	padding-right: 18;
	background-color: #f5fafa;
}

.blueWindow {
	background-color: #E8ECF9;
	background-alpha: 1;
	header-colors: #E8ECF9,#E8ECF9;
	border-color: #E8ECF9;
	border-alpha: 0.8;
}
